@page "/wallet/{id}/payments/{address}"
@using Microsoft.AspNetCore.Components.Services
@inject HttpClient Http
@inject IUriHelper UriHelper

<h1>@address</h1>
@if (_payments == null)
{
    <Loading />
}
else
{
    <MatTable Items="@_payments.Items" PageSize="@_payments.Items.Length" Striped="true" ShowPaging="true">
        <MatTableHeader>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Time</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@(@context.Sender.Substring(0, 4))</td>
            <td>@(@context.Recipient.Substring(0, 4))</td>
            <td>@context.Amount.ToString("N") KIN</td>
            <td>@(TimeSpan.FromSeconds(DateTimeOffset.UtcNow.ToUnixTimeSeconds() - context.EpochTime).ToString(@"hh\h\:mm\m\:ss\s\:fff\m\s"))</td>
        </MatTableRow>
    </MatTable>
}


@functions {
    PaginatedResponse<AppPayment> _payments;
    [Parameter]
    string id { get; set; }
    [Parameter]
    string address { get; set; }

    protected override async Task OnInitAsync()
    {
        BaseResponseData<PaginatedResponse<AppPayment>> resp = await Http.GetJsonAsync<BaseResponseData<PaginatedResponse<AppPayment>>>($"api/wallets/{id}/payments?address={address}&pageIndex=1");
        _payments = resp.Data;
        Console.WriteLine(_payments.Items.Length);
    }

}